.navBarTop {
    position: sticky;
    top: 0;
    width: 100%;
}

.navBarList{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 40px;
    height: 30px;
    font-size: 20px;
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    margin: 0;
}

.text {
    text-decoration: none;
    color:white;
}

.item a.active {
    text-decoration: none;
    color: #fa0b0b;
    font:bolder;
}
